---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Shreyas Thirumalai">
  <Navigation activeNavItem="home" />
  <header
    class="flex flex-row justify-between w-full lg:h-1/2 bg-primaryDark lg:pl-20 p-10 lg:p-0"
  >
    <div class="flex flex-col lg:w-1/2 m-auto text-center">
      <div class="flex flex-col w-full">
        <h1
          class="text-primaryTextDark font-lobster font-extrabold text-2xl lg:text-6xl pt-10"
        >
          Hi, I'm Shreyas Thirumalai
        </h1>
        <h1
          class="text-primaryTextDark font-lobster font-extrabold text-2xl lg:text-6xl lg:mt-4 mt-2"
        >
          A Full Stack Developer
        </h1>
      </div>
      <p
        class="text-lightGreen font-kodeMono pt-4 lg:pt-10 leading-7 lg:text-lg text-sm"
      >
        I write code for a living. Started doing it for the <span
          class="text-red-500 font-bold border-b-4 border-lightGreen">$$$</span
        > and continuing to do it for the <span
          class="border-b-4 border-red-500">interest</span
        >.
      </p>
    </div>
  </header>
  <div
    class="flex flex-col 3xl:px-[25vw] lg:flex-row w-full lg:h-1/2 bg-primaryGreenDark items-center px-10 gap-10"
  >
    <div
      class="2xl:w-2/5 flex mt-10 lg:mt-0 w-full h-full flex-col lg:h-96 bg-teaGreen rounded-[5rem] drop-shadow-xl p-10 hover:scale-105 transition-all duration-300 ease-in-out"
    >
      <h4 class="text-primaryDark font-kodeMono text-sm">
        SENIOR SOFTWARE ENGINEER
      </h4>
      <div class="text-primaryDark font-kodeMono flex flex-col justify-between">
        <h3 class="font-extrabold text-2xl">Glide Systems</h3>
        <h4 class="my-auto italic text-xs lg:text-base font-extrabold">
          September 2023 - present
        </h4>
      </div>
      <p class="font-montserrat pt-2 text-primaryDark text-sm lg:text-base">
        Working on Product Lifecycle Management Software. Wrote the entire stack
        for a PoC Bill-of-Material (BOM) Management Solution that uses the
        polymorphic database TypeDB. Wrote a Jira Plugin and contributing to a
        Neo4J-based Product Data Managament Platform. Also redesigned the <a
          class="border-b-4 hover:cursor-pointer border-red-500 font-bold"
          href="https://www.glidesystemsinc.com"
          target="_blank">landing page</a
        >.
      </p>
      <div
        class="lg:mt-auto flex flex-col lg:flex-row justify-center lg:justify-normal lg:gap-4 gap-2 text-xs lg:text-md mt-6"
      >
        <div class="flex flex-row gap-2 lg:gap-4 mx-auto lg:mx-0">
          <span
            class="bg-lightGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
            >TypeDB</span
          >
          <span
            class="bg-lightGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
            >Neo4J</span
          >
          <span
            class="bg-lightGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
            >Quarkus</span
          >
        </div>
        <div class="flex flex-row gap-2 lg:gap-4 mx-auto lg:mx-0">
          <span
            class="bg-lightGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
            >SpringBoot</span
          >
          <span
            class="bg-lightGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
            >SingleSpa</span
          >
        </div>
      </div>
    </div>
    <div
      class="lg:w-3/5 w-full gap-6 lg:gap-0 h-full lg:h-96 lg:bg-lightGreen rounded-[5rem] flex flex-col lg:flex-row drop-shadow-xl hover:scale-105 transition-all duration-300 ease-in-out"
    >
      <div
        class="lg:w-3/5 lg:border-r-2 bg-lightGreen rounded-[5rem] lg:rounded-[0rem] lg:rounded-l-[5rem] lg:border-dashed border-primaryDark p-10 flex flex-col"
      >
        <h4 class="text-primaryDark font-kodeMono text-sm">SOFTWARE ANALYST</h4>
        <div
          class="text-primaryDark font-kodeMono flex flex-col justify-between"
        >
          <h3 class="font-extrabold text-2xl">Goldman Sachs</h3>
          <h4 class="my-auto italic font-extrabold text-xs lg:text-base">
            Jul 2021 - Aug 2023
          </h4>
        </div>
        <p class="font-montserrat pt-2 text-primaryDark text-sm lg:text-base">
          Worked on the inventory management platform that handled financial
          instrument movements across the firm. Authored several ETL pipelines,
          one of which netted cost savings of <span class="font-bold"
            >$2.5M</span
          >. Also wrote several dashboards in React and improved underlying
          architecture of the blue-green deployment.
        </p>
        <div
          class="lg:mt-auto flex flex-col lg:flex-row gap-2 text-xs lg:text-md mt-6"
        >
          <div class="flex flex-row gap-2 lg:gap-4 mx-auto lg:mx-0">
            <span
              class="bg-teaGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
              >Kafka</span
            >
            <span
              class="bg-teaGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
              >React</span
            >
            <span
              class="bg-teaGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
              >SprintBoot</span
            >
          </div>
          <div class="flex flex-row gap-2 lg:gap-4 mx-auto lg:mx-0">
            <span
              class="bg-teaGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
              >K8s</span
            >
            <span
              class="bg-teaGreen text-primaryDark w-fit rounded-lg text-center p-1 px-2 font-extrabold"
              >Fitnesse</span
            >
          </div>
        </div>
      </div>
      <div
        class="p-10 lg:p-0 lg:w-2/5 h-full lg:h-96 bg-lightGreen rounded-[5rem] lg:rounded-[0rem] lg:rounded-r-[5rem] flex flex-col lg:px-5 lg:py-10 drop-shadow-xl"
      >
        <h4 class="text-primaryDark font-kodeMono text-sm">SUMMER ANALYST</h4>
        <div
          class="text-primaryDark font-kodeMono flex flex-col justify-between"
        >
          <h3 class="font-extrabold text-2xl">Goldman Sachs</h3>
          <h4 class="my-auto italic font-extrabold text-xs lg:text-base">
            Summer '20
          </h4>
        </div>
        <p class="font-montserrat pt-2 text-primaryDark text-sm lg:text-base">
          Wrote an interactive network diagram for an inventory management
          optimization platform to visualize movements across nodes within a
          graph using D3 and GraphQL.
        </p>
        <p
          class="lg:mt-auto flex flex-row gap-2 text-xs lg:text-md mt-6 mx-auto lg:mx-0"
        >
          <span
            class="bg-teaGreen text-primaryDark rounded-lg px-2 p-1 font-extrabold"
            >D3.js</span
          >
          <span
            class="bg-teaGreen text-primaryDark rounded-lg px-2 p-1 font-extrabold"
            >React</span
          >
          <span
            class="bg-teaGreen text-primaryDark rounded-lg px-2 p-1 font-extrabold"
            >GraphQL</span
          >
        </p>
      </div>
    </div>
  </div>
</Layout>
